@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Ukraine International Airlines (US)</h1>
    <!--<img src="~/images/123.svg" alt="Microsoft Azure"/>-->

</div>
